In [1]:
import pandas as pd
import numpy as np

In [2]:
df_stocks_1 = pd.read_csv('combine.csv', 'r', delimiter=';')
df_stocks_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1085912 entries, 0 to 1085911
Data columns (total 9 columns):
<TICKER>    1085912 non-null object
<PER>       1085911 non-null float64
<DATE>      1085911 non-null float64
<TIME>      1085911 non-null float64
<OPEN>      1085911 non-null float64
<HIGH>      1085911 non-null float64
<LOW>       1085911 non-null float64
<CLOSE>     1085911 non-null float64
<VOL>       1085911 non-null float64
dtypes: float64(8), object(1)
memory usage: 74.6+ MB

In [3]:
df_stocks_1 = df_stocks_1.dropna()

In [4]:
df_stocks_1['<DATE>'] = df_stocks_1['<DATE>'].astype('object')
df_stocks_1['<TIME>'] = df_stocks_1['<TIME>'].astype('object')

In [5]:
df_stocks_1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1085911 entries, 0 to 1085910
Data columns (total 9 columns):
<TICKER>    1085911 non-null object
<PER>       1085911 non-null float64
<DATE>      1085911 non-null object
<TIME>      1085911 non-null object
<OPEN>      1085911 non-null float64
<HIGH>      1085911 non-null float64
<LOW>       1085911 non-null float64
<CLOSE>     1085911 non-null float64
<VOL>       1085911 non-null float64
dtypes: float64(6), object(3)
memory usage: 82.8+ MB

In [6]:
df_stocks_1.head()

  <TICKER>  <PER>  <DATE>  <TIME>  <OPEN>  <HIGH>  <LOW>  <CLOSE>     <VOL>
0     AFKS   60.0  121207  110000    43.0    43.0  41.00    41.00   40600.0
1     AFKS   60.0  121207  120000    42.0    42.0  41.00    41.00  109400.0
2     AFKS   60.0  121207  130000    41.8    41.8  41.79    41.80    2800.0
3     AFKS   60.0  121207  140000    41.8    41.8  41.11    41.68    7000.0
4     AFKS   60.0  121207  150000    41.2    41.7  41.20    41.70   26600.0

In [6]:
df_stocks_1['<DATE>'] = pd.to_datetime(df_stocks_1['<DATE>'], format='%d%m%y')

ValueError: unconverted data remains: .0

In [7]:
df2 = df_stocks_1[['<DATE>', '<OPEN>']].groupby('<DATE>', as_index=False).agg('first')
df2

        <DATE>  <OPEN>
0      10207.0  75.210
1      10208.0  39.487
2      10210.0  26.919
3      10211.0  28.000
4      10212.0  25.550
...        ...     ...
3533  311017.0  13.250
3534  311018.0   7.830
3535  311019.0  14.377
3536  311208.0   4.519
3537  311209.0  23.800

[3538 rows x 2 columns]