In [1]:
import pandas as pd
import numpy as np

In [2]:
df_stocks_1 = pd.read_csv('combine.csv', 'r', delimiter=';')
df_stocks_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1085912 entries, 0 to 1085911
Data columns (total 9 columns):
 #   Column    Non-Null Count    Dtype
---  ------    --------------    -----
 0   <TICKER>  1085912 non-null  object
 1   <PER>     1085911 non-null  float64
 2   <DATE>    1085911 non-null  float64
 3   <TIME>    1085911 non-null  float64
 4   <OPEN>    1085911 non-null  float64
 5   <HIGH>    1085911 non-null  float64
 6   <LOW>     1085911 non-null  float64
 7   <CLOSE>   1085911 non-null  float64
 8   <VOL>     1085911 non-null  float64
dtypes: float64(8), object(1)
memory usage: 70.4+ MB

In [3]:
df_stocks_1 = df_stocks_1.dropna()

In [4]:
df_stocks_1['<DATE>'] = df_stocks_1['<DATE>'].astype('int')
df_stocks_1['<TIME>'] = df_stocks_1['<TIME>'].astype('str')

In [5]:
df_stocks_1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1085911 entries, 0 to 1085910
Data columns (total 9 columns):
 #   Column    Non-Null Count    Dtype
---  ------    --------------    -----
 0   <TICKER>  1085911 non-null  object
 1   <PER>     1085911 non-null  float64
 2   <DATE>    1085911 non-null  int32
 3   <TIME>    1085911 non-null  object
 4   <OPEN>    1085911 non-null  float64
 5   <HIGH>    1085911 non-null  float64
 6   <LOW>     1085911 non-null  float64
 7   <CLOSE>   1085911 non-null  float64
 8   <VOL>     1085911 non-null  float64
dtypes: float64(6), int32(1), object(2)
memory usage: 70.4+ MB

In [8]:
df_stocks_1.head(20)

,<TICKER>,<PER>,<DATE>,<TIME>,<OPEN>,<HIGH>,<LOW>,<CLOSE>,<VOL>
0,AFKS,60.0,121207,110000.0,43.000,43.000,41.000,41.000,40600.0
1,AFKS,60.0,121207,120000.0,42.000,42.000,41.000,41.000,109400.0
2,AFKS,60.0,121207,130000.0,41.800,41.800,41.790,41.800,2800.0
3,AFKS,60.0,121207,140000.0,41.800,41.800,41.110,41.680,7000.0
4,AFKS,60.0,121207,150000.0,41.200,41.700,41.200,41.700,26600.0
5,AFKS,60.0,121207,160000.0,41.550,41.699,41.500,41.550,49400.0
6,AFKS,60.0,121207,170000.0,41.310,41.550,41.210,41.210,173100.0
7,AFKS,60.0,121207,180000.0,41.240,41.449,41.050,41.449,56300.0
8,AFKS,60.0,131207,110000.0,41.200,41.200,40.000,41.000,25800.0
9,AFKS,60.0,131207,120000.0,41.000,41.197,40.250,41.197,95300.0
10,AFKS,60.0,131207,130000.0,41.199,41.200,40.500,41.000,110600.0
11,AFKS,60.0,131207,140000.0,41.000,41.000,40.550,40.800,39600.0
12,AFKS,60.0,131207,150000.0,40.800,41.000,40.800,41.000,34100.0
13,AFKS,60.0,131207,160000.0,40.900,40.999,40.550,40.950,114400.0
14,AFKS,60.0,131207,170000.0,40.900,40.900,40.506,40.506,11800.0
15,AFKS,60.0,131207,180000.0,40.800,40.897,40.500,40.896,153800.0
16,AFKS,60.0,141207,110000.0,40.200,40.200,40.000,40.200,11000.0
17,AFKS,60.0,141207,120000.0,40.300,40.790,40.300,40.300,23500.0
18,AFKS,60.0,141207,130000.0,40.790,41.479,40.510,41.400,426000.0
19,AFKS,60.0,141207,140000.0,41.000,41.000,41.000,41.000,83600.0

In [9]:
df_stocks_1['<DATE>'] = df_stocks_1['<DATE>'].astype('str')

In [13]:
df_stocks_1.head()

  <TICKER>  <PER>  <DATE>    <TIME>  <OPEN>  <HIGH>  <LOW>  <CLOSE>     <VOL>
0     AFKS   60.0  121207  110000.0    43.0    43.0  41.00    41.00   40600.0
1     AFKS   60.0  121207  120000.0    42.0    42.0  41.00    41.00  109400.0
2     AFKS   60.0  121207  130000.0    41.8    41.8  41.79    41.80    2800.0
3     AFKS   60.0  121207  140000.0    41.8    41.8  41.11    41.68    7000.0
4     AFKS   60.0  121207  150000.0    41.2    41.7  41.20    41.70   26600.0

In [20]:
df_stocks_1['<DATE>'] = pd.to_datetime(df_stocks_1['<DATE>'], format='%d%m%y', errors='coerce')

In [21]:
df_stocks_1.dtypes

<TICKER>            object
<PER>              float64
<DATE>      datetime64[ns]
<TIME>              object
<OPEN>             float64
<HIGH>             float64
<LOW>              float64
<CLOSE>            float64
<VOL>              float64
dtype: object

In [23]:
df_stocks_1.head(25)

,<TICKER>,<PER>,<DATE>,<TIME>,<OPEN>,<HIGH>,<LOW>,<CLOSE>,<VOL>
0,AFKS,60.0,2007-12-12,110000.0,43.000,43.000,41.000,41.000,40600.0
1,AFKS,60.0,2007-12-12,120000.0,42.000,42.000,41.000,41.000,109400.0
2,AFKS,60.0,2007-12-12,130000.0,41.800,41.800,41.790,41.800,2800.0
3,AFKS,60.0,2007-12-12,140000.0,41.800,41.800,41.110,41.680,7000.0
4,AFKS,60.0,2007-12-12,150000.0,41.200,41.700,41.200,41.700,26600.0
5,AFKS,60.0,2007-12-12,160000.0,41.550,41.699,41.500,41.550,49400.0
6,AFKS,60.0,2007-12-12,170000.0,41.310,41.550,41.210,41.210,173100.0
7,AFKS,60.0,2007-12-12,180000.0,41.240,41.449,41.050,41.449,56300.0
8,AFKS,60.0,2007-12-13,110000.0,41.200,41.200,40.000,41.000,25800.0
9,AFKS,60.0,2007-12-13,120000.0,41.000,41.197,40.250,41.197,95300.0
10,AFKS,60.0,2007-12-13,130000.0,41.199,41.200,40.500,41.000,110600.0
11,AFKS,60.0,2007-12-13,140000.0,41.000,41.000,40.550,40.800,39600.0
12,AFKS,60.0,2007-12-13,150000.0,40.800,41.000,40.800,41.000,34100.0
13,AFKS,60.0,2007-12-13,160000.0,40.900,40.999,40.550,40.950,114400.0
14,AFKS,60.0,2007-12-13,170000.0,40.900,40.900,40.506,40.506,11800.0
15,AFKS,60.0,2007-12-13,180000.0,40.800,40.897,40.500,40.896,153800.0
16,AFKS,60.0,2007-12-14,110000.0,40.200,40.200,40.000,40.200,11000.0
17,AFKS,60.0,2007-12-14,120000.0,40.300,40.790,40.300,40.300,23500.0
18,AFKS,60.0,2007-12-14,130000.0,40.790,41.479,40.510,41.400,426000.0
19,AFKS,60.0,2007-12-14,140000.0,41.000,41.000,41.000,41.000,83600.0
20,AFKS,60.0,2007-12-14,150000.0,41.000,41.199,40.550,41.199,36000.0
21,AFKS,60.0,2007-12-14,160000.0,41.199,42.350,41.199,42.000,262800.0
22,AFKS,60.0,2007-12-14,170000.0,42.002,42.002,41.605,41.800,204600.0
23,AFKS,60.0,2007-12-14,180000.0,41.605,41.798,41.400,41.797,237100.0
24,AFKS,60.0,2007-12-17,120000.0,41.890,43.000,41.101,41.798,239800.0

In [26]:
df2 = df_stocks_1[['<TICKER>', '<DATE>', '<OPEN>']].groupby(['<TICKER>', '<DATE>'], as_index=False).agg('first')
df2

       <TICKER>     <DATE>    <OPEN>
0          AFKS 2007-12-12    43.000
1          AFKS 2007-12-13    41.200
2          AFKS 2007-12-14    40.200
3          AFKS 2007-12-17    41.890
4          AFKS 2007-12-18    41.001
...         ...        ...       ...
117098     YNDX 2020-09-23  4900.000
117099     YNDX 2020-09-24  4995.000
117100     YNDX 2020-09-25  4765.800
117101     YNDX 2020-09-26  4953.600
117102     YNDX 2020-09-30  5085.600

[117103 rows x 3 columns]